@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background-color:#ACE058;
    color:rgb(255, 255, 255);
    font-family: "Comfortaa", sans-serif;
}