/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&display=swap');
@font-face {
    font-family: "OpenDyslexic";
    src: url("assets/opendyslexic/OpenDyslexic-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Main */
body {
    background-color:#ACE058;
    color:rgb(0, 0, 0);
    font-family: "Comfortaa", sans-serif;
}

footer {
    text-align: center;
}

button {
    display: flex;
    background-color: #394007;
    border-color: black;
    border-radius: 5px;
}

hr {
    border: none;
    border-top: 3px double black;
}

/* Removing default link colours and decoration for the language page. */

.language-option {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 5px;
    text-decoration: none;
}

/* Blog */
.blog {
    margin-left: 15%;
    margin-right: 15%;
}

.blogpost {
    border: 2px solid black;
    padding: 1%;
    margin-left: 35%;
    margin-right: 35%;

}

.blogpost a {
    display: block;
    text-align: center;
}

.code {
    background-color:dimgray;
    color: white;
}

th {
    border-bottom: 1px solid black;
    padding: 5px;
}

/* Logo */
.logo {
    width: 15%;
    height: 15%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition: ease 0.3s
}
.logo:hover {
    filter: drop-shadow(0 0 15px white);
    transform: scale(1.05);
    transition: ease 0.3s
}

/* Misc */
.errorcode {
    font-family: "Climate Crisis", sans-serif;
    text-align: center;
    font-size: 70px;
}

a {
    color: rgb(0, 81, 255);
    font-weight: bold;
}

/* Dark mode */
.darkmode {
    background-color: #394007;
    color: white;
    font-family: "Comfortaa", sans-serif;
}

.darkmode a {
    color: #F3BDFF
}

.darkmode th {
    border-bottom: 1px solid white;
}

.darkmode button {
    background-color: #ACE058;
    border-color: white;
}

.darkmode :focus-visible {
    outline: 3px dashed #F3BDFF
}

.darkmode .blogpost {
    border: 2px solid white
}

.darkmode .profile-box {
    background-color: #ACE058;
    color: black;
}

.darkmode .profile-pfp {
    border: solid #394007 4px;
}

.darkmode hr {
    border-color: white;
}

.darkmode .profile-box a {
    color: rgb(0, 81, 255)
}

/* Dyslexia */
body.dyslexiaFont {
    font-family: "OpenDyslexic";
}

/* Keyboard nav */

:focus-visible {
    outline: 2px dashed rgb(0, 81, 255);
    outline-offset: 4px;
    border-radius: 4px;
}

/* Profile */

.profile-box {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    background-color: #394007;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-box a {
    color: #F3BDFF
}

.profile-pfp {
    width: 6%;
    height: 6%;
    border-radius: 100%;
    border: solid #ACE058 4px;
    flex-shrink: 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h1,
.profile-info p,
.profile-info img,
.profile-info small {
    margin: 1px;
    margin-left: 2px;
}

.profile-link {
    border: #394007 solid 2px
}

.profile-country {
    display: flex;
    flex-direction: row;
}

.profile-contents {
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
}

.profile-link,
.profile-link img {
    width: 25%;
    border-radius: 100%;
    border: none;
    margin: auto 0;
    display: block;
}